VITE_SUPABASE_URL=https://tkhypmsrtnxqwranfpkq.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRraHlwbXNydG54cXdyYW5mcGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3OTI2NTcsImV4cCI6MjA5NzM2ODY1N30.Q_APzPS8gvEkezD6BxS0mJPvQila9arWZB7rh5yzw7c
